@import url('https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/reveal.css');
@import url('https://cdnjs.cloudflare.com/ajax/libs/reveal.js/3.6.0/css/theme/black.css');
.Press
  display block
  height 100%
  font-family 'Avenir', Helvetica, Arial, sans-serif !important
  // font-family 'Oxygen Mono', monospace !important
.reveal
  // font-family 'Avenir', Helvetica, Arial, sans-serif !important
  font-family 'Oxygen Mono', monospace !important
  font-size 20px
  background-color black
  text-align left
  section
    text-align left
  h1, h2, h3, h4, h5, h6
    text-transform none
    font-weight normal
    font-family 'Oxygen Mono', monospace !important
    text-align left
  a
    color white
    &:hover
      color gray
.section-left
  lost-column 1/2
  border 1px solid white
.section-right
  lost-column 1/2
  border 1px solid white
.rectangle-min
  lost-column 1/2
.image-gallery
  width 50%
  position relative
  left 50%
  transform translateX(-50%)
